.score-form-container {
  height: 400px;
  width: 400px;
  margin: 0 auto;
}

.score-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 90%;
  width: 90%;
  padding: 5%;
  position: relative;
  background-color: rgba(255,255,255,.8);
  color: gray;
  font-size: 18px;
  outline: none;

  & label {
    margin: 10px 0 5px 2px;
  }

  & select {
    padding: 5px;
    background-color: rgba(255,255,255,.8);
    height: 35px;
    text-align: center;
  }

  & select:focus, textarea:focus {
    outline: none;
  }

  & button {
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    background: none;
    border: 1px solid black;
    background-color: rgba(255,255,255,.1);
    border-radius: 2px;
  }

  & button:hover {
    background-color: rgba(255,255,255,.8);
  }

  & .rating-input-label {
    margin-top: 60px;
  }

  & .text-input {
    margin-top: 30px;
  }
}

.score-input {
  padding-top: 8px;
}