.profile-container {
    height: 100%;
    background: url('https://i.imgur.com/FBPXKB9.jpg');
    background-size: cover;
   

}

.profile-details {
    padding: 30px;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-picture {
        border: 1px solid #000000;
        box-shadow: 5px 10px 18px #888888
    }

    &-username {
        font-size: 30px;
        padding-top: 10px;
    }

    &-review-count {
        padding-top: 10px;
        font-size: 14px;
   
    }
}