.coffee-index-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    // position: relative;

    & ul {
        // position:absolute;
        padding-left: 8%;
        padding-right: 8%;
        height: 100%;
        width: 33%;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        & a {
            text-decoration: none;
            color: #000000;   
            text-align: center;
            background: url('https://i.imgur.com/n3NAtVu.jpg');
            background-size: cover;
            transition: 0.4s;

            &:hover {
                transform: scale(1.1)
            }
        
            & > li > div {
                padding: 20px 20px;
            }
        }
    }
}

.coffee-index-ul-right {
    right: 10%;

    & a:nth-child(even) {
        align-self: flex-end;
    }
}

.coffee-index-ul-left {
    left: 10%;

    & a:nth-child(even) {
        align-self: flex-start;
    }
}

.coffee-index-item {
    height: 200px;
    width: 200px;
    color: #ffffff;
    font-weight: 700;
    background-color: rgba(0, 0, 0, .4);
    transition: .4s;

    &:hover {
        background-color: rgba(0,0,0,.75);
    }

    &-name {
        font-size: 24px;
        height: 50%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;

        & div {
            padding: 0;
        }
    }

    &-origin {
        font-size: 18px;
        height: 50%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;

        & div {
            padding: 0;
        }
    }
}

.coffee-index-item-right {
    height: 200px;
    width: 200px;
    color: #ffffff;
    font-weight: 700;
    background-color: rgba(0, 0, 0, .4);
    
    &-name {
        font-size: 24px;
    }

    &-origin {
        font-size: 18px;
    }
}

.coffee-index-carousel, .coffee-index-carousel > *, .CarouselItem > * {
    height: 100%;
}

.Carousel-button-7 {
    background-color: #ffffff;
}

button[class^='Carousel-button-'] {
    background-color: #ffffff;
}

.coffee-index-carousel {
    background-image: url('https://i.imgur.com/3B5OMG6.jpg');
    background-size: cover;
    background-position: center;
}