.coffee-show-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url('https://i.imgur.com/3B5OMG6.jpg');
    background-size: cover;
    background-position: center;
}

.coffee-details, .coffee-score-list {
    
    background-color: rgba(255,255,255,.25);
    width: 33%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    transition: .6s;

    &:hover {
        background-color: rgba(255,255,255,.75)
    }

    & > * {
        padding-bottom: 30px;
    }
    
}

.coffee-score-list > li > div {
    margin-top: 12px;
}

.coffee-details {
    &-title {
        font-size: 30px;
        font-weight: bold;
    }

    &-origin {
        font-size: 22px;
    }

    &-roaster {
        font-size: 22px;
        font-style: italic;
    }
}

.score-modal-btn-container {
  padding: 0;
}

.score-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -200px;
  z-index: 10;
  height: 400px;
  width: 400px;
  outline: none;
}

.score-modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.coffee-score-btn {
  width: 200px;
  height: 40px;
  margin: 0 auto;
  margin-top: 30px;
  background: none;
  border: 1px solid black;
  background-color: rgba(255,255,255,.1);
  border-radius: 2px;
  outline: none;
}

.coffee-score-btn:hover {
  background-color: rgba(255,255,255,.8);
}