.coffee-index-container {
    height: 100%;
    width: 100%;
    background-image: url('https://i.imgur.com/K2fcMDT.jpg');
    background-size: cover;
    background-position: 0% 50%;
    position: relative;

    & ul {
        position:absolute;
        right: 10%;
        height: 100%;
        width: 33%;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        & a {
            text-decoration: none;
            color: #000000;   
            text-align: center;
            background: url('https://i.imgur.com/n3NAtVu.jpg');
            background-size: cover;

            &:nth-child(even) {
                align-self: flex-end;
            }
        
            & div {
                padding: 20px 20px;
            }
        }
    }
}

.coffee-index-item {
    height: 200px;
    width: 200px;
    color: #ffffff;
    font-weight: 700;
    background-color: rgba(0, 0, 0, .4);
    
    &-name {
        font-size: 24px;
        opacity: 1;
    }

    &-origin {
        font-size: 18px;
        opacity: 1;
    }
}