.app-container {
    background-image: url(https://images.unsplash.com/photo-1497935586351-b67a49e012bf?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80);
    background-size: cover;
    font-family: 'Hind Guntur', sans-serif;
    color: rgb(64, 64, 64);
}

.main-container {
    display: flex;
    flex-direction: column;
    font-family: 'Hind Guntur', sans-serif;
    color: rgb(64, 64, 64);
}

.shop-header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255,255,255,.75);
    align-items: center;
    padding: 50px;

    &-image {
        border: 2px solid grey;
        height: 250px;
        width: 250px;

        &-container {
            width: 40%;
            text-align: center;
        }
    }

    &-details {

        display: flex;
        width: 40%;

        &-left {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 70%;
            align-items: flex-start;
            margin-right: 20px;
            
            &-title {
                font-size: 50px;
            }
            
            &-address {
                padding-top: 15px;
                width: 100%;
            }

            &-number {
                padding: 10px;
            }
        }
        
        &-right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 30%;

            &-website {
                padding-bottom: 10px
            }
            
        }
    }
    
    &-ratings-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 5px;
        justify-content: flex-end;
        
        &-num-reviews {
            font-size: 20px;
            padding-left: 20px;
        }
    }

}



.phone-icon {
    padding-right: 10px;
}

.browser-icon {
    padding-right: 10px;
}




.bottom-container-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;

    &-coffees {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 80px;
        padding-bottom: 80px;
        width: 40%;
        box-sizing: border-box;
        background-color: rgba(255,255,255,.75);
    }

    &-reviews {
        display: flex;
        flex-direction:column;
        align-items: center;
        width: 40%;
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: rgba(255,255,255,.75);
    }
}


.coffees-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-bottom: 40px;
    padding-top: 40px;
    border-bottom: 1px solid rgb(88, 88, 88);
    border-top: 1px solid rgb(88, 88, 88);
}




.coffees {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.coffees-title {
    font-size: 30px;
    padding-bottom: 40px;
    font-weight: 600;
    width: 60%;
    text-align: center;
}

.coffee-name {
    font-size: 20px;
    box-sizing: border-box;
    padding: 30px;
}

.link {
    text-decoration: none;
    color: rgb(64, 64, 64);
    &:hover {
        cursor: pointer;
        color: rgb(185, 189, 192);
    }
}

.link:visited {
    text-decoration: none;
    color: rgb(64, 64, 64);
    &:hover {
        cursor: pointer;
        color: rgb(185, 189, 192);
    }
}

.link-write-review {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color:white;
    background-color: rgb(185, 189, 192);
    border: 1px solid;
    border-color:  rgb(185, 189, 192);
    border-radius: 6px;
    padding: 20px;
    &:hover {
        cursor: pointer;
        color: rgb(185, 189, 192);
        background-color: white;
    }
 
}

.link-write-review:visited {
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
    color:white;
    background-color: rgb(185, 189, 192);
    border: 1px solid;
    border-color:  rgb(185, 189, 192);
    border-radius: 6px;
    padding: 20px;
    &:hover {
        cursor: pointer;
        color: rgb(185, 189, 192);
        background-color: white;
    }
 
}



.all-reviews {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.review {
    display: flex;
    flex-direction: column;
    padding: 15px 50px 30px 50px;
    border-top: 1px solid rgb(88,88,88);
    border-bottom: 1px solid rgb(88,88,88);
    width: 50%;
}

.review-sub-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-title {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
}

.review-rating {
    padding-bottom: 8px;
 
}

.review-user {
    font-weight: 600;
    padding-bottom: 8px;
}

.review-text {
    font-size: 14px;
    padding-top: 5px;
    // padding-bottom: 5px;
}

.no-reviews {
    font-size: 18px;
    padding: 20px;
}


