.app-container {
    background-color: white;
    font-family: 'Hind Guntur', sans-serif;
    color: rgb(64, 64, 64);
}

.main-container {
    display: flex;
    flex-direction: column;
    font-family: 'Hind Guntur', sans-serif;
    color: rgb(64, 64, 64);
}
.shop-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(245,248,250);
    align-items: center;
    margin-top: 50px;
    padding: 50px;
}



.shop-title {
    font-size: 50px;
}

.address {
    padding-top: 15px;
    text-align: right;
    word-wrap: normal;
    width: 70%;


}

.ratings-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5px;
    justify-content: flex-end;
}



.bottom-container-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;

}

.bottom-container-sub-coffees {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 80px;
    width: 45%;
    box-sizing: border-box;
}

.coffees-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-bottom: 40px;
    padding-top: 40px;
    border-bottom: 1px solid rgb(228,233,237);
    border-top: 1px solid rgb(228,233,237);
}

.shop-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 35%;
    align-items: flex-end;
    margin-right: 20px;
}


.num-reviews {
    font-size: 20px;
    padding-left: 20px;
}

.coffees {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.coffees-title {
    font-size: 30px;
    padding-bottom: 40px;
    font-weight: 600;
    width: 60%;
    text-align: center;
}

.coffee-name {
    font-size: 20px;
    box-sizing: border-box;
    padding: 30px;
}

.link {
    text-decoration: none;
    color: rgb(64, 64, 64);
    &:hover {
        cursor: pointer;
        color: rgb(185, 189, 192);
    }
}

.link:visited {
    text-decoration: none;
    color: rgb(64, 64, 64);
    &:hover {
        cursor: pointer;
        color: rgb(185, 189, 192);
    }
}

.link-write-review {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color:white;
    background-color: rgb(185, 189, 192);
    border: 1px solid;
    border-color:  rgb(185, 189, 192);
    border-radius: 6px;
    padding: 20px;
    &:hover {
        cursor: pointer;
        color: rgb(185, 189, 192);
        background-color: white;
    }
 
}

.link-write-review:visited {
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
    color:white;
    background-color: rgb(185, 189, 192);
    border: 1px solid;
    border-color:  rgb(185, 189, 192);
    border-radius: 6px;
    padding: 20px;
    &:hover {
        cursor: pointer;
        color: rgb(185, 189, 192);
        background-color: white;
    }
 
}

.bottom-container-sub-reviews {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 45%;
    margin-top: 80px;
}

.all-reviews {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.review {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(228,233,237);
    width: 50%;
}

.review-sub-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-title {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
}

.review-rating {
    padding-bottom: 8px;
 
}

.review-user {
    font-weight: 600;
    padding-bottom: 8px;
}

.review-text {
    font-size: 14px;
    padding-top: 5px;
    // padding-bottom: 5px;
}

.no-reviews {
    font-size: 18px;
    padding: 20px;
}

.shop-description-2 {
    display: flex;
    flex-direction: column;
    margin-right: 150px;
    align-items: flex-end;
}

.shop-website {
    padding: 10px
}

.shop-number {
    padding: 10px;
}